.meny {
scroll-behavior: smooth;
scroll-behavior: auto;
z-index: 2;
} 
    .meny ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #5c80bc; 
    }
    
    .meny li a {
        display: block;
        color: #ffffff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .meny li {
        float: left;
    }

    .meny li a:hover {
        background-color: #8da5ce;
    }

    .meny {
        position: fixed;
        top: 0;
        width: 100%;
      }

    .img-fluid {
        width: 30px;
        float: right;
        padding-right: 40px;
        padding-top: 10px;
    }
    @media only screen and (max-width: 600px) {
        .meny li {
            float: none; }
        
        .img-fluid {
           display: block;
           margin-left: auto;
           margin-right: auto;
           float: none;
           padding-right: none;
           padding-left: 30px;
           padding-top: none;
           padding-bottom: 20px;
        }
    
    }